/* 
Comentarios en CSS 
Multiples líneas
*/

/* Selectores */

/* Etiquetas HTML (tags) */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 1.2rem;
}

h1 {
  /* color: rgb(167, 27, 167);  */
  font-size: 2rem;
  margin-bottom: 0.2rem;
}

/* p {
    color: #d53030;
    line-height: 1.5;
} */

/* Selectores de clase */

.sub-title {
  /* color: #7d2b73; */
  font-size: 1.2rem;
  margin-top: 0;
}

.highlight {
  background-color: rgb(197, 197, 68);
  font-weight: bold;
  padding: 0.4rem;
}

/* Selector de ID */
/* Generalmente es una mala práctica */

#sub-title {
  color: #7d2b73;
  font-size: 1.2rem;
}

/* Varios selectores a la vez */
.sub-title,
h1 {
  color: rgb(167, 27, 167);
}

/* Selectores de atributo */

input[type="text"],
inputs[type="email"],
textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 1rem;
}

[target] {
  color: rgb(41, 4, 105);
  text-decoration: none;
}

/* Selectores combinados */

/* hermanos siguientes: ~ */

Body > header ~ section {
  border: 2px solid rgb(126, 126, 126);
  padding: 1rem;
  margin: 1rem;
}

/* hermano siguiente adyacente + */

Body > header + section {
  background-color: bisque;
}

/* Anidamiento de selectores */

/* Anidamiento y descendientes */

nav {
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      margin-right: 1rem;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

/* Anidamiento + hijos o descendientes directos */

body {
  & > header {
    color: rgb(167, 27, 167);
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

/*Pseudo-elementos */

section {
  p::first-letter {
    font-size: 2rem;
    font-weight: bold;
    color: #7d2b73;
  }

  li::marker {
    color: #7d2b73;
    font-size: 1.5rem;
  }
}

/* Pseudo-clases */
nav {
  a:hover {
    color: #d53030;
    text-decoration: underline;
  }
}

section {  
  li:nth-child(2n) {
    background-color: #f9f9f9;
  }
}

/* X - Y - Ids - Attrib (Class) - Tags */

/* // Librerías externas */

html body .intense {
  color: #d53030;
}

/* Mi css */

html body .intense {
  color: #843dd6
}

.intense {
  color: #0bb359 !important;
}

.error {
  color: #d53030 !important;
}